<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.kpr.training.testing.PersonServiceTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>insertPersonWithSameAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalidDateFormate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>insertPersonDiffAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>readPersoWithAddressn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updatePersonWithAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>valuesEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>readPersonWithoutAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddPersonWithuniqueName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>insertPersonCSVFile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddPersonWithuniqueEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>readAllPerson</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
