<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.AddPersonWithuniqueEmail()[pri:7, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">AddPersonWithuniqueEmail</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.AddPersonWithuniqueName()[pri:8, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">AddPersonWithuniqueName</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:18</td>   <td>-1090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.insertPersonCSVFile()[pri:0, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">insertPersonCSVFile</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>-61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.insertPersonDiffAddress()[pri:1, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">insertPersonDiffAddress</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.insertPersonWithSameAddress()[pri:2, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">insertPersonWithSameAddress</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.invalidDateFormate()[pri:10, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">invalidDateFormate</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.readAllPerson()[pri:6, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">readAllPerson</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.readPersoWithAddressn()[pri:4, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">readPersoWithAddressn</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.readPersonWithoutAddress()[pri:5, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">readPersonWithoutAddress</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:18</td>   <td>-1119</td> <td>&nbsp;</td><td title="&gt;&gt;PersonServiceTest.setUp()[pri:0, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.updatePersonWithAddress()[pri:3, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">updatePersonWithAddress</td> 
  <td>main@1399499405</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>21/01/24 19:32:19</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTest.valuesEmpty()[pri:9, instance:com.kpr.training.testing.PersonServiceTest@35d176f7]">valuesEmpty</td> 
  <td>main@1399499405</td>   <td></td> </tr>
</table>
