* {
    margin: 0px;
    padding: 0px;
}

.text-align-center {
    text-align: center;	
  }

.left-container {
    width: 20vw;
    height: 100%;
    background-color: #00065c;
    position: absolute;
}

.button-container {
    width: 10vw;
    margin: 45vh 12%;
}

.employee-button {
    background-color: #0077ff;
    color: black;
    font-weight: bolder;
    letter-spacing: .7px;
    border: 0px transparent;
    border-radius: 6px;
    width: 20vw;
    max-width: 170px;
    height: 45px;
    margin-bottom: 10px;
}

.student-button {
    background-color: #0077ff;
    color: black;
    font-weight: bolder;
    letter-spacing: .7px;
    border: 0px transparent;
    border-radius: 6px;
    max-width: 170px;
    width: 20vw;
    height: 45px;
}

.top-container {
    padding-left: 30%;
    max-width: 1016px;
    max-height: 350px;
    position: absolute;
}


.grid-container {
    max-width: 800px;
    margin-left: 27%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    color: #000 ;    
  }
  
  .grid-header, .grid-item {
    padding: .2em;
    border: 0.01px solid #000;
    background-color: #ffffff;
  }
  
  .grid-item {
    font-size: 1.5vw;
    font-weight: 500;
  }
  
  .grid-item button {
    width: 50px;
    height: 25px;
    background-color: #3d6eea;
    font-weight: bolder;
    border: 0px transparent;
    border-radius: 3px;
    padding: 2px;
    margin-left: 6px;
    color: white;
  }


.middle-container {
    position: absolute;
    width: 150px;
    height: 50px;
    margin-left : 50%;
    margin-top: 20px;
    
}

.new-employee-button {
    background-color: #3d6eea;
    color: black;
    font-weight: bolder;
    letter-spacing: .7px;
    border: 0px transparent;
    border-radius: 4px;
    max-width: 170px;
    width: 50vh;
    height: 50px;
}


.bottom-container {
    position: absolute;
    max-width: 985px;
    max-height: 310px;
    margin-left: 25%;
    margin-top: 3%;
}

.bottom-container h1 {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.form-container{
    color: black;
    font-weight: bold;
    max-width: 700px;
    max-height: 250px;
    width: 40vw;
    height: 35vh;
    background-color: #00065c;
    position: relative;
    margin-left:5%;
    border: 0px transparent;
    border-radius: 5px;
}

.container1 {
    padding-top: 30px;
    margin-left: 4%;
}

.container2 {
    margin-top: 20px;
    margin-left: 4%;
}

.container1 input, .container2 input{
    max-width: 200px;
    max-height: 30px;
    width: 40vw;
    height: 40vh;
    margin-left: 2.3vw;
    border: 0px transparent;
    border-radius: 5px;
    padding-left: 15px;
}

.container2 input {
    margin-left: 3.2vw;
}

.id-label {
    margin-left: 10%;
}

.add-button {
    max-width: 150px;
    max-height: 35px;
    width: 20vw;
    height: 30vh;
    border: 0px transparent;
    position: absolute;
    background-color:#3d6eea;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    left: 50%;

}